In [48]:
import pandas as pd
df = pd.read_csv('/Users/sainandanmamidi/Downloads/dummy_training_data.csv')
df

    town  area   price
0  atown  2800  550000
1  atown  2100  510000
2  atown  3000  590000
3  btown  2300  460000
4  btown  2500  490000
5  btown  3200  550000
6  ctown  4300  760000
7  ctown  4100  740000
8  ctown  3900  690000

In [49]:
#Create dummy variables column
dummies = pd.get_dummies(df.town).astype(int)
dummies

   atown  btown  ctown
0      1      0      0
1      1      0      0
2      1      0      0
3      0      1      0
4      0      1      0
5      0      1      0
6      0      0      1
7      0      0      1
8      0      0      1

In [50]:
#Concatenate both dummies and df
#Inbuilt that pd.concat() will take axis as rows. But we need as columns. 
merged = pd.concat([df,dummies], axis='columns')
merged

    town  area   price  atown  btown  ctown
0  atown  2800  550000      1      0      0
1  atown  2100  510000      1      0      0
2  atown  3000  590000      1      0      0
3  btown  2300  460000      0      1      0
4  btown  2500  490000      0      1      0
5  btown  3200  550000      0      1      0
6  ctown  4300  760000      0      0      1
7  ctown  4100  740000      0      0      1
8  ctown  3900  690000      0      0      1

In [51]:
final = merged.drop(['town','btown'], axis='columns')
final

   area   price  atown  ctown
0  2800  550000      1      0
1  2100  510000      1      0
2  3000  590000      1      0
3  2300  460000      0      0
4  2500  490000      0      0
5  3200  550000      0      0
6  4300  760000      0      1
7  4100  740000      0      1
8  3900  690000      0      1

In [52]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [53]:
#We are droping price column from x data set
x = final.drop('price',axis='columns')
x

   area  atown  ctown
0  2800      1      0
1  2100      1      0
2  3000      1      0
3  2300      0      0
4  2500      0      0
5  3200      0      0
6  4300      0      1
7  4100      0      1
8  3900      0      1

In [54]:
y = final.price
y

0    550000
1    510000
2    590000
3    460000
4    490000
5    550000
6    760000
7    740000
8    690000
Name: price, dtype: int64

In [55]:
#Training our machine learning model
model.fit(x,y)

LinearRegression()

In [56]:
#here to predict price of ctown
model.predict([[2000,0,1]])

/Users/sainandanmamidi/anaconda3/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([529349.31506849])

In [57]:
#To predit predict price of atown
model.predict([[3200,1,0]])

/Users/sainandanmamidi/anaconda3/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([604143.83561644])

In [58]:
#To predit predict price of btown
model.predict([[3200,0,0]])

/Users/sainandanmamidi/anaconda3/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([550958.90410959])

In [59]:
#To know how accurate our model is predicting the prices
#of the given x values like area and town, we can use score() method
model.score(x,y)
#0.98 -> 98% accurate

0.9886089867495867

In [60]:
df

    town  area   price
0  atown  2800  550000
1  atown  2100  510000
2  atown  3000  590000
3  btown  2300  460000
4  btown  2500  490000
5  btown  3200  550000
6  ctown  4300  760000
7  ctown  4100  740000
8  ctown  3900  690000

In [62]:
#Using Encoder concept
df
df['town'].unique()

array(['atown', 'btown', 'ctown'], dtype=object)

In [63]:
from sklearn.preprocessing import OneHotEncoder

In [66]:
#handle_unknown='ignore': This parameter specifies how the encoder should handle unknown categories that are not present in the training data. In this case, 'ignore' is specified, which means that if the encoder encounters a previously unseen category during transformation, it will ignore it rather than raising an error.
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False).set_output(transform='pandas')

In [67]:
ohetransform = ohe.fit_transform(df[['town']])
ohetransform

   town_atown  town_btown  town_ctown
0         1.0         0.0         0.0
1         1.0         0.0         0.0
2         1.0         0.0         0.0
3         0.0         1.0         0.0
4         0.0         1.0         0.0
5         0.0         1.0         0.0
6         0.0         0.0         1.0
7         0.0         0.0         1.0
8         0.0         0.0         1.0

In [68]:
df.head()

    town  area   price
0  atown  2800  550000
1  atown  2100  510000
2  atown  3000  590000
3  btown  2300  460000
4  btown  2500  490000

In [69]:
ohetransform.head()

   town_atown  town_btown  town_ctown
0         1.0         0.0         0.0
1         1.0         0.0         0.0
2         1.0         0.0         0.0
3         0.0         1.0         0.0
4         0.0         1.0         0.0

In [70]:
df = pd.concat([df,ohetransform],axis='columns').drop(columns=['town'])

In [71]:
df

   area   price  town_atown  town_btown  town_ctown
0  2800  550000         1.0         0.0         0.0
1  2100  510000         1.0         0.0         0.0
2  3000  590000         1.0         0.0         0.0
3  2300  460000         0.0         1.0         0.0
4  2500  490000         0.0         1.0         0.0
5  3200  550000         0.0         1.0         0.0
6  4300  760000         0.0         0.0         1.0
7  4100  740000         0.0         0.0         1.0
8  3900  690000         0.0         0.0         1.0

In [81]:
#We are droping price column from x data set
x = df.drop('price',axis='columns')
x

   area  town_atown  town_btown  town_ctown
0  2800         1.0         0.0         0.0
1  2100         1.0         0.0         0.0
2  3000         1.0         0.0         0.0
3  2300         0.0         1.0         0.0
4  2500         0.0         1.0         0.0
5  3200         0.0         1.0         0.0
6  4300         0.0         0.0         1.0
7  4100         0.0         0.0         1.0
8  3900         0.0         0.0         1.0

In [82]:
y = df.price
y

0    550000
1    510000
2    590000
3    460000
4    490000
5    550000
6    760000
7    740000
8    690000
Name: price, dtype: int64

In [79]:
model.fit(x,y)

LinearRegression()

In [83]:
model.predict([[3200,1,0,0]])

/Users/sainandanmamidi/anaconda3/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([604143.83561644])

In [84]:
#train_test example
from sklearn.model_selection import train_test_split

In [88]:
#Here we are training 80 percent of data set and testing 20 percent of dataset
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)#We are providing test size as 0.2 (20Percent)
#Every time you run this command it will take 80 percent of random rowsfrom the mainn data set 
#If you want your training data and testing data as fixed then use random_state=anyintegerNumber inside the train)test_split

In [87]:
x_test

   area  town_atown  town_btown  town_ctown
0  2800         1.0         0.0         0.0
4  2500         0.0         1.0         0.0

In [89]:
model.fit(x_train,y_train)

LinearRegression()

In [94]:
model.predict([[3200,1,0,0]])

/Users/sainandanmamidi/anaconda3/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([604752.47524752])